.title{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#btn-them2 {
    margin-bottom: 30px;
}

#btn-them2, #btn-sua, #btn-boqua{
    margin-top: 30px;
}

#error1, #error2{
    color: red;
    font-style: italic;
}

#input-search{
    width: 900px;
}

#container-result, #result{
    margin-top: 20px;
}

#title{
    text-transform: uppercase;
	color: #488686;
	text-shadow: 1px 1px 2px #0066CC;
}

#emptyError{
	color: red;
	font-style: italic;
	font-size: 18px;
}

.vertical-scrollable> .row {
    width: 100%;
    height: 200px;
	overflow-y: scroll;  
}