html, body {
	background-image: url("../images/BG1.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
}

h1 {
	font-family: 'Josefin Sans', sans-serif	;
	text-transform: uppercase;
	color: #EFFBFB;
	text-shadow: 1px 1px 2px #0066CC;
}

#emptyError{
	color: red;
	font-style: italic;
	font-size: 18px;
}